VITE_SUPABASE_URL=https://hxmvdgjumbyarikkvuco.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4bXZkZ2p1bWJ5YXJpa2t2dWNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4NDUzMjYsImV4cCI6MjA4NDQyMTMyNn0.S1NDzPdlk4S0WUDlKtznRpVU0UD5PrTd2GyOX91wBxA